

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page-one {
  min-height: 100vh;
  background-image: url("/BG4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-two {
  min-height: 100vh;
  background-image: url("/BG4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gift-center {
  position: absolute;
  bottom: 18vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  z-index: 6;
}
