

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: white;
}

.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page-one {
  min-height: 100vh;
  background-image: url("/BG4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.page-two {
  min-height: 100vh;
  background-image: url("/BG4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gift-center {
  position: absolute;
  top: 50vh;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  gap: 60px;
  z-index: 6;
}
.gift-wrapper {
  position: relative; 
  
}

.fortune {
  position: absolute;
  top: -120px !important;         
  left: -60px !important;
  transform: translateX(-50%);
  background: transparent !important;
  color: white;
  z-index: 10;
  pointer-events: none;
}