/* Clouds.css */
.cloud-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150vh; /* enough vertical space for animation */
  pointer-events: none;
  z-index: 2;
}

.cloud-right-to-left {
  position: absolute;
  width: 60vw; /* responsive width */
  top:50vh;
  right: -60vw; /* start off-screen right */
}

.cloud-bottom-to-top {
  position: absolute;
  width: 100vw;

}
.christmas_tree{
    position: absolute;
    height: 30vh;
    top: 68vh;
    z-index: -1;
}